{% macro render_field(field) %}
  {{ field.label }}
  {{ field(**kwargs)|safe }}

  {% if field.errors %}
    <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{% macro progress_bar() %}
    <div id="progress" style="width: 25%; margin: 10px; display: none;">
        <div class="progress-bar progress-bar-inner active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
            <div class="progress-bar-inner" style="width:45%;">
                <span class="progress-bar-label">0%</span>
            </div>
        </div>
    </div>
<!-- div class="progress" id="progress" style="width: 25%; margin: 5px; display: none;" -->

    <!--div  id="progress" class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" tabindex="0">
        <div class="progress-bar-inner" style="width:35%;"></div>
    </div-->
<!--/div -->
{% endmacro %}


{% macro render_input(fieldname, value) %}
    <input type="text" name="{{ fieldname }}" value="{{ value }}" />
{% endmacro %}
