{% macro render_field(field) %}
  {{ field.label }}
  {{ field(**kwargs)|safe }}

  {% if field.errors %}
    <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{% macro progress_bar() %}
  <div id="progress" style="width: 50%; display: none;">
      <div class="progress-bar vads-u-margin--0" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar-inner" style="width:0%;">
          </div>
      </div>
      <div class="progress-bar-label vads-u-color--primary vads-u-text-align--center vads-u-font-size--sm">
        0%
      </div>
  </div>
{% endmacro %}


{% macro render_input(fieldname, value) %}
    <input type="text" name="{{ fieldname }}" value="{{ value }}" />
{% endmacro %}
