{% extends "vads.html" %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='formation.min.css')}}">
    <link rel="stylesheet" href="https://design.va.gov/assets/stylesheets/application.css">
    <script src="https://design.va.gov/assets/javascripts/polyfills/array.from.js"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='formation.js') }}"></script>
    <script src="{{ url_for('static', filename='formationCSS.js') }}"></script>
    <script src="https://design.va.gov/assets/javascripts/site.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='socket.js') }}"></script>

{% endblock %}

{% block footer %}

  <footer class="site-footer vads-u-padding-y--2" role="contentinfo">
    <div class="site-l-wrapper">
      <div class="medium-screen:vads-u-display--flex medium-screen:vads-u-justify-content--space-between vads-u-align-items--center">
        <div>
          Clinical Trial Selector (CTS) – © 2020 Girls Computing League. All Rights Reserved.
        </div>
        <div class="col-md-4" style="margin-left: 5%;float: right;text-align:right; color:#428bca">
            <a target="_blank" href="/generalprivacypolicy.html">General Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="/generaltermsofuse.html">General Terms of Use</a>
        </div>
    </div>
  </footer>

{% endblock %}
