{% extends "bootstrap/base.html" %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='formation.min.css')}}">
    <link rel="stylesheet" href="https://design.va.gov/assets/stylesheets/application.css">
    <link rel="canonical" href="https://design.va.gov/design/index">
    <script src="https://design.va.gov/assets/javascripts/polyfills/array.from.js"></script>
{%- endblock %}
{% block body_attribs %}
style="display: flex;flex-direction: column;min-height: 100vh;"
{% endblock body_attribs %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='formation.js') }}"></script>
    <script src="{{ url_for('static', filename='formationCSS.js') }}"></script>
    <script src="https://design.va.gov/assets/javascripts/site.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
       var socket = io();

       function openSocket() {
            document.getElementById("progress").style.display = "block";
            socket.on('update_progress', function(message) {
                $('.progress-bar').css('width', message.data+'%')
                                        .attr('aria-valuenow', message.data);
                $('.progress-bar-label').text(message.data+'%');
            });
        }
        socket.on('disconnect', function(message) {
                socket.disconnect()
            });
    </script>
    <br>

    <footer class="site-footer vads-u-padding-y--2" role="contentinfo">
        <div class="site-l-wrapper">
            <div class="medium-screen:vads-u-display--flex medium-screen:vads-u-justify-content--space-between vads-u-align-items--center">
      <div>
            Copyrighted © 2019 Clinical Trial Selector (CTS) – Girls Computing League. All Rights Reserved.
            <br>
        </div>
        <div class="col-md-4" style="margin-left: 5%;float: right;text-align:right; color:#428bca">
            <a target="_blank" href="/generalprivacypolicy.html">General Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="/generaltermsofuse.html">General Terms of Use</a>
        </div>
        <br>
        <br>
    </div>
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <br>
            <div class="alert alert-warning text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    </div>
		
    <div class="container">
    {% block inf_pt_main %}{% endblock %}
        </div>
{% endblock %}
