
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>Clinical Trial Selector (CTS) General Visitors Privacy Policy</TITLE>
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 1in; margin-right: 1in; margin-top: 0.38in; margin-bottom: 1in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff" DIR="LTR">
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in"><A NAME="_GoBack"></A>
<FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=5>Clinical Trial Selector (CTS)
</FONT></FONT></FONT>
</P>
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=5>General Privacy Policy </FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4>Last Updated:  February 26, 2020</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.17in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The Clinical Trial Selector (CTS) allows end-users to login through portals including the Veteran Affairs (VA) system as well as the Medicare and Medicaid system (CMS). Using their patient information, diagnoses, and lab results, the system matches the user to relevant clinical trials that they would be eligible for.
</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Introduction</B>
</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">This General Privacy Policy applies to Personal Information and other types of information collected from you or retrieved for you when you access CTS system as a Visitor.</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333">
</FONT><FONT COLOR="#333333">“<FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Personal Information” for purposes of this Policy means </FONT></FONT></FONT><FONT COLOR="#262626"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">information that can reasonably used to identify you, such as your name, address, phone number, email address or medical record.</FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
We do not consider Personal Information to include information that has been anonymized so that it does not allow a third party to easily identify a specific individual.&nbsp;</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">This General Privacy Policy explains our policies with respect to Clinical Trial Selector (CTS) information practices when you access our Site as a Visitor, including:</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
	<FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">What Personal Information we may collect or retrieve and how we collect it or display it.</FONT></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.22in">
	<FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">What choices you have as to how we collect and display Personal Information.</FONT></FONT></FONT></P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.22in">
<FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><I><B>By accessing and using Clinical Trial Selector (CTS, you agree to this General Visitor Privacy Policy. If you do not agree with the terms of this General Visitor Privacy Policy, please do not use this Website. </B></I></FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.21in; margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Information We Collect About Visitors</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">As a Visitor, you may use Clinical Trial Selector (CTS) to obtain matching clinical trials without providing us Personal Information or registering for the Service. </FONT></FONT></FONT><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The information we learn from people who use our Website as Visitors helps us personalize and continually improve our Site. Here are the types of information we collect from Visitors.</FONT></FONT></FONT><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">&nbsp;</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT FACE="Times New Roman, serif"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Passively-Collected
Information</FONT></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.22in">
<FONT FACE="Times New Roman, serif"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Like most websites, we automatically receive and store certain types of information whenever you interact with our Website. For example, the Internet protocol (IP) address used to connect your computer to the Internet; computer and connection information such as browser type, version, and time zone setting. We may collect this information passively using technologies such as standard server logs, cookies, and clear GIFs (also known as “Web beacons”). We use this information to analyze, administer, operate, and improve the Website. Information that is collected in this way generally does not
personally identify the user. </FONT></FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="line-height: 0.22in"><FONT FACE="Times New Roman, serif"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We do not link or associate any information gathered through passive means with Personal Information. We use and disclose information collected by passive means in aggregate form or otherwise in a non-personally identifiable information.</FONT></FONT></FONT></FONT></P>
 
<P ALIGN=JUSTIFY STYLE="line-height: 0.22in"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">As with other websites, we use &quot;cookies&quot; to obtain certain types of information when your Web browser accesses our Website. Cookies are unique identifiers that we transfer to your device to enable our systems to recognize and remember your device.</FONT></FONT></FONT></P>
 
<P ALIGN=JUSTIFY STYLE="line-height: 0.22in"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The Help feature on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether.</FONT></FONT></FONT></P>
 
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Customer Service Information. </B></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">When
you contact Clinical Trial Selector (CTS) with questions and requests, we may collect Personal Information directly from you in order to assist you. </FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>How We Use Information We Collect</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We
use information we collect, including Personal Information, to:</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
	<FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Provide customer service and improve the Clinical Trial Selector (CT) product</B></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.&nbsp;We
	use information, including Personal Information, to provide customer
	service and for internal and service-related purposes.</FONT></FONT></FONT></P>
</UL>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
	<FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Enforcement of Terms of Use and Law. </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We	use Personal Information we collect from you to prevent or take action against activities that are, or may be, in violation of our Terms of Use, or applicable law; for other administrative purposes; and for other purposes to which you may provide your consent.</FONT></FONT></FONT></P>
</UL>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Aggregate or De-Identified Information. </B></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We may aggregate (combine) or de-identify data we collect so that you are not readily identifiable. We may use this aggregate or de-identified information for any purpose.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.22in">
<FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>How We Share Your Personal Information</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Except as described in this General Visitors Privacy Policy, we will not disclose personal information that we collect or retrieve to third parties without your consent except (i) if required by law, regulatory request, subpoena, court order or other requests relating to a legal proceeding or investigation, (ii) in connection with a change of control or similar transaction, as well as in the event of an insolvency, bankruptcy, or receivership, (iii) to service providers who perform services on our behalf and who are under confidentiality obligations, (iv) to protect our legal rights or the rights of our other customers, users, individuals or third parties, or (v) as otherwise provided in this Privacy Policy. We can (and you authorize us to) disclose any such information in those circumstances. </FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Selling Information. </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We do not sell, trade or license Personal Information about our users. </FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Aggregate or De-Identified Information. </B></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We may share aggregate or de-identified information with others for any purpose.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Information Security</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">While Clinical Trial Selector (CTS) cannot guarantee the security of your Personal Information under all circumstances, CTS does take reasonable steps to protect your personally identifiable information and other information from loss, misuse, or unauthorized alteration by using industry-recognized security safeguards, coupled with carefully developed security procedures and practices. CTS does not store any personal infrmation retrieved from the portals.</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">However, please remember that the Internet is not a 100% secure environment, and therefore CTS cannot and does not guarantee that information you provide CTS may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Children’s Privacy</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Clinical Trial Selector (CTS) is intended for adults. It is not intended or designed for the use of children under the age of 13. We do not collect or retrieve personally identifiable information from any person we actually know is a child under the age of 13. If we become aware that we have received information from a person under the age of 13 through CTS, we will destroy such information.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>International Users</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Clinical Trial Selector (CTS) is intended solely for use by residents of the United States. Personal
Information that you provide to us electronically is subject to the
privacy laws of the United States which might differ from those of
other countries.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Updates to This Policy</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We may occasionally update this General Visitors Privacy Policy. When we do, we will also revise the “last updated” date at the beginning of the General Visitors Privacy Policy. Your continued access and use of CTS after such changes will be subject to the then-current Privacy Policy. We encourage you to periodically review this Privacy Policy to stay informed about how we collect, use, and disclose Personal Information.</FONT></FONT></FONT></P>
</P>
<P STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Questions, Comments or Complaints</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">If you have questions or comments about this Privacy Policy, or wish to make a complaint about how your information has been handled please contact us at: cts@girlscomputingleague.org</FONT></FONT></FONT></P>
 
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
</P>
</BODY>

<style>
	body {
	  margin: 10em;
	  font-family: system-ui, Roboto, Helvetica, sans-serif;
	  line-height: 1.5rem;
	}
	h2 {
	  color: #3dace3;
	  font-weight: 400;
	  background-color: #ebebeb;
	  padding: 1.5rem;
	  margin-bottom: 0px;
	}
	a {
	  color: #3dace3;
	}
  
	/* Table styles */
	table {
	  width: 100%;
	  border-collapse: collapse;
	}
	th, td {
	  padding: 1.5rem;
	  vertical-align: top;
	  border: 1px solid #eee
	}
	th {
	  background-color: #f7f7f7;
	}
	th:last-child, td:last-child {
	  width: 40%;
	}
  
	/* Tooltip container */
	.tooltip {
	  position: relative;
	  display: inline-block;
	  border-bottom: 3px solid #ccc;
	}
  
	/* Tooltip text */
	.tooltip .tooltiptext {
	  visibility: hidden;
	  width: 200px;
	  font-weight: 400;
	  font-size: 12px;
	  line-height: 15px;
	  background-color: #555;
	  color: #fff;
	  text-align: left;
	  padding: 5px 7px;
	  border-radius: 3px;
  
	  /* Position the tooltip text */
	  position: absolute;
	  z-index: 1;
	  bottom: 125%;
	  left: 50%;
	  margin-left: -60px;
  
	  /* Fade in tooltip */
	  opacity: 0;
	  transition: opacity 1s;
	}
  
	/* Tooltip arrow */
	.tooltip .tooltiptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: #555 transparent transparent transparent;
	}
  
	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltip:hover .tooltiptext {
	  visibility: visible;
	  opacity: 1;
	}  
  
	.half {
	  display: inline-block;
	  width:49%;
	}
  
	@media only screen and (max-width: 600px) {
	  .half {
		display: inline-block;
		width: 100%;
	  }
	}
  
  </style>
  <h1 id="girlscomputingleaguemodelprivacynotice">Girls Computing League Model Privacy Notice</h1>
  <p><strong>Note:</strong> Developers of consumer health technology or apps (“health technology developers”) that collect 
  digital health data about individuals would use this template to disclose to consumers the developer’s 
  privacy and security policies. <strong>"We"</strong> refers to the health technology developer or technology product and 
  <strong>"you/your"</strong> refers to the user/consumer of the health technology. 
  </div> </p>
  <p><br></br>  </p>
  <h2 id="usehowweuseyourdatainternally">Use: How we use your data internally</h2>
  <h3>
	We collect and use your 
	<div class="tooltip">
	  identifiable data
	  <div class="tooltiptext">
		Identifiable data means: data, such as your name, phone number, email, address, health services, information on your physical or mental health conditions, or your social security number, that can be used on its own or with other information to identify you.     
	  </div>
	</div>:
  </h3>
  <ul><li>To provide the 
  <span class="tooltip">
	primary service
	<div class="tooltiptext">
	  Primary service means: To search for eligible clinical trials at the National Cancer Institute database based on the information in your medical record
	</div>
  </span>
  of the app or technology</li></ul>
  <p><br></br>  </p>
  <h2 id="sharehowweshareyourdataexternallywithothercompaniesorentities">Share: How we share your data externally with other companies or entities</h2>
  <ul><li>We DO NOT share your 
  <span class="tooltip">
	identifiable data
	<div class="tooltiptext">
	Identifiable data means: data, such as your name, phone number, email, address, health services, information on your physical or mental health conditions, or your social security number, that can be used on its own or with other information to identify you.
	</div>
  </span>
  </li></ul>
  <p><br></br>  </p>
  <h3 id="weshareyourdataafterremovingidentifiersnotethatremainingdatamaynotbeanonymous">We share your data AFTER removing identifiers (note that remaining data may not be anonymous):</h3>
  <ul><li>For the primary purposes of the app or technology</li></ul>
  <p><br></br>  </p>
  <h2 id="sellwhowesellyourdatato">Sell: Who we sell your data to</h2>
  <table>
	<tr>
	  <th><strong>Sold Data<strong></th>
	  <th style='width:40%;'><strong>Do we sell?<strong></th>
	</tr>
	<tr>
	  <td>
		<strong>
		  Do we sell your 
		  <span class="tooltip">
			identifiable data
			<div class="tooltiptext">
			Identifiable data means: data, such as your name, phone number, email, address, health services, information on your physical or mental health conditions, or your social security number, that can be used on its own or with other information to identify you.
			</div>
		  </span>
		  to 
		  <span class="tooltip">
			data brokers
			<div class="tooltiptext">
			Data broker means: companies that collect personal information about consumers from a variety of public and non-public sources and resell the information to other companies
			</div>
		  </span>
		  , marketing, advertising networks, or analytics firms?
		</strong>
	  </td>
	  <td> No </td>
	</tr>
	<tr>
	  <td><strong>Do we sell your data AFTER removing identifiers (note that remaining data may not be anonymous) to 
	  <span class="tooltip">
		data brokers
		<div class="tooltiptext">
		Data broker means: companies that collect personal information about consumers from a variety of public and non-public sources and resell the information to other companies
		</div>
	  </span>
	  , marketing, advertising networks, or analytics firms?</strong></td>
	  <td> No </td>
	</tr>
  </table>
  <p><br></br></p>
  <h2 id="storehowwestoreyourdata">Store: How we store your data</h2>
  <table>
	<tr>
	  <th><strong>Stored Data<strong></th>
	  <th><strong>Is it stored?<strong></th>
	</tr>
	<tr>
	  <td><strong>Are your data stored on the device? </strong></td>
	  <td> No</td>
	</tr>
	<tr>
	  <td><strong>Are your data stored outside the device at our company or through a third party?</strong></td>
	  <td> No</td>
	</tr>
  </table>
  <p><br />
  <br></br></p>
  <h2 id="encryptionhowweencryptyourdata">Encryption: How we encrypt your data</h2>
  <table>
	<tr>
	  <th><strong>Encrypted Data<strong></th>
	  <th><strong>Is it encrypted?<strong></th>
	</tr>
	<tr>
	  <td><strong>Does the app or technology use 
	  <div class="tooltip">
		encryption
		<div class="tooltiptext">
		  Encryption means: a method of converting an original message of regular text into encoded text in such a way that only authorized parties can read it.     
		</div>
	  </div>    
	  to encrypt your data in the device or app? </strong></td>
	  <td>N/A   </td>
	</tr>
	<tr>
	  <td><strong>Does the app or technology use 
	  <div class="tooltip">
		encryption
		<div class="tooltiptext">
		  Encryption means: a method of converting an original message of regular text into encoded text in such a way that only authorized parties can read it.     
		</div>
	  </div>    
	  to encrypt your data when stored on our company servers or with an outside 
	  <div class="tooltip">
		cloud computing
		<div class="tooltiptext">
		  Cloud computing means: a kind of Internet-based computing that provides shared processing resources and data to computers and other devices on demand.     
		</div>
	  </div>    
	  services provider?</strong></td>
	  <td>  N/A </td>
	</tr>
	<tr>
	  <td><strong>Does the app or technology use
	  <div class="tooltip">
		encryption
		<div class="tooltiptext">
		  Encryption means: a method of converting an original message of regular text into encoded text in such a way that only authorized parties can read it.     
		</div>
	  </div>    
	  to encrypt your data while it is transmitted?</strong></td>
	  <td>Yes, by default   </td>
	</tr>
  </table>
  <p>
  <br></br>  </p>
  <h2 id="privacyhowthistechnologyaccessesotherdata">Privacy: How this technology accesses other data</h2>
  <table style='vertical-align: top'>
	<tr>
	  <th><strong>Other Data<strong></th>
	  <th style='width:40%;'><strong>Is it accessed?<strong></th>
	</tr>
	<tr>
	  <td><strong>Will this technology or app request access to other device data or applications, such as your phone’s camera, photos, or contacts? </strong></td>    
  <td>No</td>
	</tr>
	<tr>
	  <td><strong>Does this technology or app allow you to share the collected data with your social media accounts, like Facebook?</strong></td>
	  <td> No</td>
	</tr>
  </table>
  <p><br></br></p>
  <h2 id="useroptionswhatyoucandowiththedatathatwecollect">User Options: What you can do with the data that we collect</h2>
  <table>
	<tr>
	  <td><strong>Can you access, edit, share, or delete the data we have about you?</strong></td>
	  <td> 
	  No - we do not store your data, we only use the data provided by VA and CMS. 
	  The app provides opportunities to manually enter data such as laboratory results in order to 
		improve trial matching.
		This does not permanently change your data at the source.</td>
	</tr>
  </table>
  <p>
  <br></br></p>
  <h2>
	<div class="tooltip">
	  Deactivation
	  <div class="tooltiptext">
		Deactivation means: an individual takes action or a company ceases operation or deactivates an individual’s account due to inactivity.     
	  </div>
	</div>: What happens to your data when your account is deactivated 
  </h2>
  <table>
	<tr>
	  <td><strong>When your account is deactivated/terminated by you or the company, your data are...  </strong></td>
	  <td>   Deleted immediately </td>
	</tr>
  </table>
  <p><br></br></p>
  <h2 id="changes">Policy Changes: How we will notify you if our privacy policy changes</h2>
  <p>Visit this privacy policy page and note the "Last Updated' date</p>
  <div>Find out more in the <a href='#changes' target='_blank'>Changes section of our Privacy Policy</a> (https://cts.girlscomputingleague.org/generalprivacypolicy.html#changes)<br></div>
  <p><br></br></p>
  <h2>
	<div class="tooltip">
	  Breach
	  <div class="tooltiptext" id="breach">
		Breach means: an unauthorized disclosure.     
	  </div>
	</div>: How we will notify you and protect your data in case of an improper disclosure
  </h2>
  <p>Girls Computing League complies with all applicable laws regarding breaches.<br />
  In the event of a breach we will announce it prominently on our web page.  We do not store any information, including contact information, on our visitors</p>
  <div>Find out more in the <a href='#breach' target='_blank'>Breach section of our Privacy Policy</a> (https://cts.girlscomputingleague.org/generalprivacypolicy.html#breach)<br></div>
  <p><br></br></p>
  <h2 id="contactus">Contact Us</h2>
  <h3 id="girlscomputingleague">Girls Computing League</h3>
  <div><a href='https://cts.girlscomputingleague.org/generalprivacypolicy.html' target='_blank'>Privacy Policy</a> (https://cts.girlscomputingleague.org)<br></div>
  <p><a href="mailto:cts@girslcomputingleague.org">cts@girslcomputingleague.org</a><br />
  <p>Girls Computing League<br />


</HTML>
