
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>Clinical Trial Selector (CTS) General Visitors Privacy Policy</TITLE>
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 1in; margin-right: 1in; margin-top: 0.38in; margin-bottom: 1in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff" DIR="LTR">
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in"><A NAME="_GoBack"></A>
<FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=5>Clinical Trial Selector (CTS)
</FONT></FONT></FONT>
</P>
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=5>General Privacy Policy </FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.21in; margin-bottom: 0.1in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4>Last Updated:  October 15th, 2019</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.17in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The Clinical Trial Selector (CTS) allows end-users to login through portals including the Veteran Affairs (VA) system as well as the Medicare and Medicaid system (CMS). Using their patient information, diagnoses, and lab results, the system matches the user to relevant clinical trials that they would be eligible for.
</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Introduction</B>
</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">This General Privacy Policy applies to Personal Information and other types of information collected from you or retrieved for you when you access CTS system as a Visitor.</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333">
</FONT><FONT COLOR="#333333">“<FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Personal Information” for purposes of this Policy means </FONT></FONT></FONT><FONT COLOR="#262626"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">information that can reasonably used to identify you, such as your name, address, phone number, email address or medical record.</FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">
We do not consider Personal Information to include information that has been anonymized so that it does not allow a third party to easily identify a specific individual.&nbsp;</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">This General Privacy Policy explains our policies with respect to Clinical Trial Selector (CTS) information practices when you access our Site as a Visitor, including:</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
	<FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">What Personal Information we may collect or retrieve and how we collect it or display it.</FONT></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.22in">
	<FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">What choices you have as to how we collect and display Personal Information.</FONT></FONT></FONT></P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.22in">
<FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><I><B>By accessing and using Clinical Trial Selector (CTS, you agree to this General Visitor Privacy Policy. If you do not agree with the terms of this General Visitor Privacy Policy, please do not use this Website. </B></I></FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.21in; margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Information We Collect About Visitors</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">As a Visitor, you may use Clinical Trial Selector (CTS) to obtain matching clinical trials without providing us Personal Information or registering for the Service. </FONT></FONT></FONT><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The information we learn from people who use our Website as Visitors helps us personalize and continually improve our Site. Here are the types of information we collect from Visitors.</FONT></FONT></FONT><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">&nbsp;</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT FACE="Times New Roman, serif"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Passively-Collected
Information</FONT></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; line-height: 0.22in">
<FONT FACE="Times New Roman, serif"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Like most websites, we automatically receive and store certain types of information whenever you interact with our Website. For example, the Internet protocol (IP) address used to connect your computer to the Internet; computer and connection information such as browser type, version, and time zone setting. We may collect this information passively using technologies such as standard server logs, cookies, and clear GIFs (also known as “Web beacons”). We use this information to analyze, administer, operate, and improve the Website. Information that is collected in this way generally does not
personally identify the user. </FONT></FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="line-height: 0.22in"><FONT FACE="Times New Roman, serif"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We do not link or associate any information gathered through passive means with Personal Information. We use and disclose information collected by passive means in aggregate form or otherwise in a non-personally identifiable information.</FONT></FONT></FONT></FONT></P>
 
<P ALIGN=JUSTIFY STYLE="line-height: 0.22in"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">As with other websites, we use &quot;cookies&quot; to obtain certain types of information when your Web browser accesses our Website. Cookies are unique identifiers that we transfer to your device to enable our systems to recognize and remember your device.</FONT></FONT></FONT></P>
 
<P ALIGN=JUSTIFY STYLE="line-height: 0.22in"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">The Help feature on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether.</FONT></FONT></FONT></P>
 
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Customer Service Information. </B></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">When
you contact Clinical Trial Selector (CTS) with questions and requests, we may collect Personal Information directly from you in order to assist you. </FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>How We Use Information We Collect</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#111111"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We
use information we collect, including Personal Information, to:</FONT></FONT></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
	<FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Provide customer service and improve the Clinical Trial Selector (CT) product</B></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">.&nbsp;We
	use information, including Personal Information, to provide customer
	service and for internal and service-related purposes.</FONT></FONT></FONT></P>
</UL>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
	<FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Enforcement of Terms of Use and Law. </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We	use Personal Information we collect from you to prevent or take action against activities that are, or may be, in violation of our Terms of Use, or applicable law; for other administrative purposes; and for other purposes to which you may provide your consent.</FONT></FONT></FONT></P>
</UL>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Aggregate or De-Identified Information. </B></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We may aggregate (combine) or de-identify data we collect so that you are not readily identifiable. We may use this aggregate or de-identified information for any purpose.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.22in">
<FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>How We Share Your Personal Information</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Except as described in this General Visitors Privacy Policy, we will not disclose personal information that we collect or retrieve to third parties without your consent except (i) if required by law, regulatory request, subpoena, court order or other requests relating to a legal proceeding or investigation, (ii) in connection with a change of control or similar transaction, as well as in the event of an insolvency, bankruptcy, or receivership, (iii) to service providers who perform services on our behalf and who are under confidentiality obligations, (iv) to protect our legal rights or the rights of our other customers, users, individuals or third parties, or (v) as otherwise provided in this Privacy Policy. We can (and you authorize us to) disclose any such information in those circumstances. </FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Selling Information. </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We do not sell, trade or license Personal Information about our users. </FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Aggregate or De-Identified Information. </B></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We may share aggregate or de-identified information with others for any purpose.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Information Security</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">While Clinical Trial Selector (CTS) cannot guarantee the security of your Personal Information under all circumstances, CTS does take reasonable steps to protect your personally identifiable information and other information from loss, misuse, or unauthorized alteration by using industry-recognized security safeguards, coupled with carefully developed security procedures and practices. CTS does not store any persona infrmation retrieved from the portals.</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">However, please remember that the Internet is not a 100% secure environment, and therefore CTS cannot and does not guarantee that information you provide CTS may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Children’s Privacy</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Clinical Trial Selector (CTS) is intended for adults. It is not intended or designed for the use of children under the age of 13. We do not collect or retrieve personally identifiable information from any person we actually know is a child under the age of 13. If we become aware that we have received information from a person under the age of 13 through CTS, we will destroy such information.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>International Users</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Clinical Trial Selector (CTS) is intended solely for use by residents of the United States. Personal
Information that you provide to us electronically is subject to the
privacy laws of the United States which might differ from those of
other countries.</FONT></FONT></FONT></P>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.07in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Updates to This Policy</B></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">We may occasionally update this General Visitors Privacy Policy. When we do, we will also revise the “last updated” date at the beginning of the General Visitors Privacy Policy. Your continued access and use of CTS after such changes will be subject to the then-current Privacy Policy. We encourage you to periodically review this Privacy Policy to stay informed about how we collect, use, and disclose Personal Information.</FONT></FONT></FONT></P>
</P>
<P STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=4><B>Questions, Comments or Complaints</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 0.22in"><FONT COLOR="#333333"><FONT FACE="Helvetica Neue, serif"><FONT SIZE=2 STYLE="font-size: 11pt">If you have questions or comments about this Privacy Policy, or wish to make a complaint about how your information has been handled please contact us at: info@girlscomputingleague.org</FONT></FONT></FONT></P>
 
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
</P>
</BODY>
</HTML>
