{% extends "base.html" %}
{% block content %}

{% from "_form_helpers.html" import render_field %}

<form method=post>
    <dl>
        {{ render_field(form.trial_nci_id) }}
        </dl>
    <p><input type=submit value=Search>
</form>

<br>
<table class="custom-table">
    <thead>
        <tr>
            <th>Patient Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% if session["infected_patients"] %}
            {%- for key, patient in session["infected_patients"].items() %}
                <tr>
                    <td>
                        <a href="/infected_patients_info?id={{ key }}">
                            {{ key }}
                        </a>
                    </td>
                    {% if patient['demo_info'] %}
                        <td class="page-header">{{ patient['demo_info']['name'][0]['given'][0] }}</td>
                        <td class="page-header">{{ patient['demo_info']['name'][0]['family'] }}</td>
                        <td class="page-header">{{ patient['demo_info']['gender'] }}</td>
                        <td class="page-header">{{ patient['status'] }}</td>
                    {% endif %}
                </tr>
            {%- endfor %}
        {%- endif %}
    </tbody>
</table>

{% endblock %}