{% extends "base.html" %}

{% block content %}
    <hr>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-9">
                <h1>{% block header %}{% endblock %}</h1>
            </div>
            <div class="col">
                    <span class="float-right">
                        {% block extra_button %}{% endblock%}
                        <a class="btn btn-primary" href="/logout">Logout</a>
                    </span>
            </div>
        </div>
    </div>
    <hr>

    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-3"><!--left col-->
                    
                <ul class="list-group">
                    <li class="list-group-item text-muted">
                        VA Patient Info
                        {%- if not session["va_patient"] %}
                            <a class="btn-sm btn-primary float-right" href="/va/authenticate">Login</a>
                        {% endif %}
                    </li>
                    <li class="list-group-item text-right"><span class="float-left"><strong>Name</strong></span>{{ session["va_name"]}}</li>
                    <li class="list-group-item text-right"><span class="float-left"><strong>ID</strong></span>{{ session["va_patient"]}}</li>
                    <li class="list-group-item text-right"><span class="float-left"><strong>DOB</strong></span>{{ session["va_birthdate"]}}</li>
                    <li class="list-group-item text-right"><span class="float-left"><strong>Gender</strong></span>{{ session["va_gender"]}}</li>                
                </ul> 

                <br>

                <ul class="list-group">
                    <li class="list-group-item text-muted">
                        CMS Patient Info
                        {%- if not session["cms_patient"] %}
                            <a class="btn-sm btn-primary float-right" href="/cms/authenticate">Login</a>
                        {% endif %}
                    </li>
                    <li class="list-group-item text-right"><span class="float-left"><strong>Name</strong></span>{{ session["cms_name"]}}</li>
                    <li class="list-group-item text-right"><span class="float-left"><strong>ID</strong></span> {{ session["cms_patient"]}}</li>
                    <li class="list-group-item text-right"><span class="float-left"><strong>DOB</strong></span> {{ session["cms_birthdate"]}}</li>
                    <li class="list-group-item text-right"><span class="float-left"><strong>Gender</strong></span> {{ session["cms_gender"]}}</li>                
                </ul>     
            
            </div><!--/col-3-->
            <div class="col-sm-9">
                {% block pt_main %}{% endblock %}
            </div><!--/col-9-->
        </div><!--/row-->
    </div>                                                        
{% endblock %}