{% extends "base.html" %}

{%- set trailId = request.args.get('id', '0') %}
{%- set trailns = namespace(trial=none) %}
{%- for tr in session["trials"] %}
    {%- if tr.id == trailId %}
        {%- set trailns.trial = tr %}
    {% endif %}
{% endfor %}

{% block content %}

{%- if trailId != '0' %}
    <header class="site-header" role="banner">

      <div class="site-l-wrapper">
        <div class="site-header__masthead">
          <div class="site-header__logo" id="extended-logo">
            <em class="site-header__logo-text">
              <a class="site-header__logo-link" title="Clinical Trials Broweser" href="#"><strong class="vads-u-display--block small-screen:vads-u-display--inline">Browse Trial # {{trailId}}</strong> </a>
            </em>
          </div>
            <div class="site-header__logo" id="extended-logo">
                <a href="/" class="usa-button vads-u-margin--1">All Trails</a>
            </div>
          <div class="site-header__utility-links">

            <a href="/infected_patients" class="usa-button vads-u-margin--1">Matcher for Doctors</a>
              <a href="/logout" class="usa-button vads-u-margin--1">Logout</a>
          </div>
        </div>
      </div>
    </header>
    <div class="site-top-nav-wrapper site-l-wrapper sticky">
      <nav class="site-header__nav">
        <ul class="site-header__nav-list">
          <li class="site-header__nav-item">
            <a class="site-header__nav-item__link " href="#info" data-toggle="tab">Info</a>
          </li>
            <li class="site-header__nav-item">
                <a class="site-header__nav-item__link " href="#measures" data-toggle="tab">Outcome Measures</a>
            </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-item__link " href="#diseases" data-toggle="tab">Diseases</a>
          </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-item__link " href="#locations" data-toggle="tab">Locations</a>
          </li>
        </ul>
      </nav>
    </div>
{% else %}
    <header class="site-header" role="banner">

      <div class="site-l-wrapper">
        <div class="site-header__masthead">
          <div class="site-header__logo" id="extended-logo">
            <em class="site-header__logo-text">
              <a class="site-header__logo-link" title="Clinical Trials Selector homepage" href="/"><strong class="vads-u-display--block small-screen:vads-u-display--inline">Clinical Trials Selector</strong> </a>
            </em>
          </div>
          <div class="site-header__utility-links">

            <a href="/infected_patients" class="usa-button vads-u-margin--1">Matcher for Doctors</a>
              <a href="/logout" class="usa-button vads-u-margin--1">Logout</a>
          </div>
        </div>
      </div>
    </header>
    <div class="site-top-nav-wrapper site-l-wrapper sticky">
      <nav class="site-header__nav">
        <ul class="site-header__nav-list">
          <li class="site-header__nav-item">
            <a class="site-header__nav-item__link " href="#trials" data-toggle="tab">Trails</a>
          </li>
            {%- if session["excluded"] %}
            <li class="site-header__nav-item">
                <a class="site-header__nav-item__link " href="#Excluded" data-toggle="tab">Excluded</a>
            </li>
        {% endif %}
          <li class="site-header__nav-item">
            <a class="site-header__nav-item__link " href="#conditions" data-toggle="tab">Conditions w/o Trials</a>
          </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-item__link " href="#matches" data-toggle="tab">Code Matches</a>
          </li>
          <li class="site-header__nav-item">
            <a class="site-header__nav-item__link " href="#nomatches" data-toggle="tab">Codes w/o Matches</a>
          </li>
            {%- if session["combined_patient"] and session["combined_patient"].loaded %}
          <li class="site-header__nav-item">
            <a class="site-header__nav-item__link " href="/download_trials" data-toggle="tab">Download Trials</a>
          </li>
            {% endif %}
        </ul>
      </nav>
    </div>
{% endif %}


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-9">
                <h1>{% block header %}{% endblock %}</h1>
            </div>
            <div class="col">
                <span class="float-left">
                    <!-- a class="btn btn-primary" href="/infected_patients">Matcher for Doctors</a -->
                    <!-- a class="usa-button" href="/infected_patients">Matcher for Doctors</a -->
                </span>
            </div>
			{% block extra_button %}{% endblock%}
            <div class="col">
						<span class="float-right">

                            <!-- a class="usa-button" href="/logout">Logout</a -->
                    </span>
            </div>
        </div>
    </div>

<div>
    <div class="vads-l-row">
      <div class="vads-l-col--3">
          <ul class="site-sidenav-list">
                    <li class="list-group-item text-muted">
                        <span>VA Patient Info</span>
                        {%- if not session["va_patient"] %}
                            <!-- a class="btn-sm btn-primary float-right" href="/va/authenticate">Login</a -->
                        <a href="/va/authenticate" class="usa-button">Login</a>
                        {% endif %}
                    </li>
                    <li class="list-group-item text-left"><strong>Name</strong><p class=".vads-u-text-align--right">{{ session["va_name"]}}</p></li>
                    <li class="list-group-item text-left"><strong>ID</strong><p class=".vads-u-text-align--right">{{ session["va_patient"]}}</p></li>
                    <li class="list-group-item text-left"><strong>DOB</strong><p class=".vads-u-text-align--right">{{ session["va_birthdate"]}}</p></li>
                    <li class="list-group-item text-left"><strong>Gender</strong><p class=".vads-u-text-align--right">{{ session["va_gender"]}}</p></li>
                    <li class="list-group-item text-left"><strong>Zip Code</strong><p class=".vads-u-text-align--right">{{ session["va_zipcode"]}}</p></li>
                      </ul>

                <ul class="site-sidenav-list">
                    <li class="list-group-item text-muted">
                        <span>CMS Patient Info</span>

                        {%- if not session["cms_patient"] %}
                            <!-- a class="btn-sm btn-primary float-right" href="/cms/authenticate">Login</a -->
                        <a href="/cms/authenticate" class="usa-button">Login</a>
                        {% endif %}
                    </li>
                    <li class="list-group-item text-left"><strong>Name</strong><p class=".vads-u-text-align--right">{{ session["cms_name"]}}</li>
                    <li class="list-group-item text-left"><strong>ID</strong><p class=".vads-u-text-align--right"> {{ session["cms_patient"]}}</li>
                    <li class="list-group-item text-left"><strong>DOB</strong><p class=".vads-u-text-align--right"> {{ session["cms_birthdate"]}}</li>
                    <li class="list-group-item text-left"><strong>Gender</strong><p class=".vads-u-text-align--right"> {{ session["cms_gender"]}}</li>
                </ul>
      </div>
      <div class="vads-l-col--9">
          {% block pt_main %}{% endblock %}
      </div>
    </div>
</div>
{% endblock %}
