{% extends "patient.html" %}

{%- set id = request.args.get('id', '0') %}
{%- set ns = namespace(trial=none) %}
{%- for tr in session["trials"] %}
    {%- if tr.id == id %}
        {%- set ns.trial = tr %}
    {% endif %}
{% endfor %}

{% macro section(section_name, section_header, section_content, parent="info") %}
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#trial_{{section_name}}" aria-expanded="true" aria-controls="collapseOne">
                    {{section_header}}
                </button>
            </h5>
        </div>
        <div id="trial_{{section_name}}" class="collapse" aria-labelledby="headingOne" data-parent="#{{parent}}">
            <div class="card-body">
                {{section_content}}
            </div>
        </div>
    </div>
{% endmacro %}

{% block title %}
    Clinical Trials Browser
{% endblock %}

{% block header %}
    Browse Trial # {{id}}
{% endblock %}

{% block extra_button %}
    <a class="btn btn-primary" href="/">All Trials</a>
{% endblock %}

{% block pt_main %}
    <ul class="nav nav-tabs" id="myTab">
        <li class="nav-item active"><a class="nav-link active" href="#info" data-toggle="tab">Info</a></li>
        <li class="nav-item"><a class="nav-link" href="#measures" data-toggle="tab">Outcome Measures</a></li>
        <li class="nav-item"><a class="nav-link" href="#locations" data-toggle="tab">Locations</a></li>
    </ul> 
        
    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <br>
            {{ section("title", "Brief Title", ns.trial.title) }}
            {{ section("official", "Official Title", ns.trial.official) }}
            {{ section("summary", "Summary", ns.trial.summary) }}
            {{ section("description", "Detailed Description", ns.trial.description) }}
        </div><!--/tab-pane-->
        <div class="tab-pane" id="measures">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Timeframe</th>
                    </tr>
                </thead>

                {%- for measure in ns.trial.measures %}
                    <tbody>
                        <tr>
                            <td colspan="2" class="page-header"><button type="button" class="tbtn"><i class="fa fa-plus-circle fa-minus-circle"></i> {{measure["name"]}}</button> </td>
                        </tr>
                                <tr class="toggler">
                                    <td>{{ measure["description"] }}</td>
                                    <td>{{ measure["timeframe"] }}</td>
                                </tr>
                    </tbody>
                {%- endfor %}
            </table>
        
        </div><!--/tab-pane-->
        <div class="tab-pane" id="locations">
                
            
            <hr>
            <form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="first_name"><h4>First name</h4></label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="last_name"><h4>Last name</h4></label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                    </div>
                </div>
    
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="phone"><h4>Phone</h4></label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="mobile"><h4>Mobile</h4></label>
                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="email"><h4>Email</h4></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="email"><h4>Location</h4></label>
                        <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="password"><h4>Password</h4></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-xs-6">
                        <label for="password2"><h4>Verify</h4></label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>
                </div>
            </form>
        </div><!--/tab-pane-->
    </div><!--/tab-content-->

{% endblock %}