{% extends "patient.html" %}

{% set trialID = request.args.get('id', '0') %}
{% set ns = namespace(trial=none) %}
{% for tr in session['combined_patient'].trials %}
    {% if tr.id == trialID %}
        {% set ns.trial = tr %}
    {% endif %}
{% endfor %}

{% macro section(section_name, section_header, section_content, parent="info") %}
<ul class="usa-accordion">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="{{section_name}}">
      {{section_header}}
    </button>
    <div id="{{section_name}}" class="usa-accordion-content">
        {% for line in (section_content|string).splitlines() %}
         <p>{{line}}</p>
        {% endfor %}
    </div>
  </li>
</ul>

{% endmacro %}

{% block pt_main %}

    <div class="tab-content">
      {% if trial_selection %}
        <div class="vads-u-padding--0" id="info">
          <strong>
            Information about trial #{{trialID}}:
          </strong>
            {{ section("title", "Brief Title", ns.trial.title) }}
            {{ section("pi", "Principal Investigator", ns.trial.pi) }}
            {{ section("official", "Official Title", ns.trial.official) }}
            {% if ns.trial.population["population"] %}
                {{ section("population", "Target Population", ns.trial.population)}}
            {% endif %}
            {{ section("summary", "Summary", ns.trial.summary) }}
            {{ section("description", "Detailed Description", ns.trial.description) }}
            {% for criterion in ns.trial.eligibility %}
              {{ section("eligibility"+loop.index|string, 
                "Eligibility criterion #{} ({})".format(loop.index, "Inclusion" if criterion.inclusion_indicator else "Exclusion"), 
                criterion.description) }}
            {% endfor %}
        </div><!--/tab-pane-->
      {% elif measures_selection %}

         <div class="vads-u-padding--0" id="measures">
          <strong>
            Outcome measures for trial #{{trialID}}:
          </strong>
              <table class="vads-u-margin--0">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Timeframe</th>
                    </tr>
                </thead>

                {% for measure in ns.trial.measures %}

                    <tbody class="usa-accordion">
                        <tr>
                           <td colspan="2" class="page-header">
                               <!-- button type="button" class="tbtn"><i class="fa fa-plus-circle"></i> {{measure["name"]}}</button -->
                               <button class="usa-accordion-button" aria-expanded="false" aria-controls="{{ loop.index0 }}"> {{measure["name"]}}
                                </button>
                           </td>
                          </tr>

                                <tr id="{{ loop.index0 }}" class="usa-accordion-content">
                                    <td>{{ measure["description"] }}</td>
                                    <td>{{ measure["timeframe"] }}</td>
                                </tr>

                    </tbody>

                {% endfor %}
            </table>
        
        </div><!--/tab-pane-->
      {% elif diseases_selection %}
        <div class="vads-u-padding--0" id="diseases">
          <strong>
            Relevant diseases for trial #{{trialID}}:
          </strong>
  
                <table class="vads-u-margin--0">
                        <thead>
                            <tr>
                                <th>NCIT Code</th>
                                <th>Inclusion Indicator</th>
                            </tr>
                        </thead>
        
                        {% for disease in ns.trial.diseases %}
                            <tbody class="usa-accordion">
                                <tr>
                                   <td colspan="2" class="page-header">
                                        <button class="usa-accordion-button" aria-expanded="false" aria-controls="{{ loop.index0 }}"> {{disease["preferred_name"]}} </button>
                                   </td>
                                </tr>
                                        <tr id="{{ loop.index0 }}" class="usa-accordion-content">
                                            <td>{{ disease["nci_thesaurus_concept_id"] }}</td>
                                            <td>{{ disease["inclusion_indicator"] }}</td>
                                        </tr>
                            </tbody>
                        {% endfor %}
                    </table>
        
        </div><!--/tab-pane-->
      {% elif locations_selection %}
        <div class="vads-u-padding--0" id="locations">
          <strong>
            Locations for trial #{{trialID}}:
          </strong>
  
                <table class="vads-u-margin--0">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Distance (Miles)</th>
                            </tr>
                        </thead>

                        {% for site in ns.trial.sites %}
                            <tbody class="usa-accordion">
                                <tr>
                                    <td colspan="4" class="page-header">
                                        <button class="usa-accordion-button" aria-expanded="false" aria-controls="{{site['org_postal_code']}}{{ loop.index0 }}"> {{site["org_name"]}} </button>
                                   </td>
                                </tr>
                                        <tr id="{{site['org_postal_code']}}{{ loop.index0 }}" class="usa-accordion-content">
                                            <td> {{ site["org_address_line_1"] }}<br>
                                                {% if site["org_address_line_2"] %}
                                                    {{ site["org_address_line_2"]}}<br>
                                                {% endif %}
                                                {{site["org_city"]}}, {{site["org_state_or_province"]}} {{site["org_postal_code"]}} </td>
                                            <td>{{site["org_phone"]}}</td>
                                            <td>{{site["org_status"]}}</td>
                                            <td>{% if site["distance"] is defined %}{{ site["distance"]|round|int }}{% endif %}</td>
                                        </tr>
                            </tbody>
                        {% endfor %}
                    </table>
        
        </div><!--/tab-pane-->
      {% endif %}
    </div><!--/tab-content-->

{% endblock %}