<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
        {% endblock %}
        <title>Clinical Trial Selector</title>
    </head>
    <body class="vads-u-background-color--white" {% block body_attribs %}{% endblock %}>

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
        
        {% block scripts %}
        {% endblock %}
    </body>
</html>